<!-- <div class="panel-header panel-header-sm" style="height: 50px !important; padding: 0px;">
</div>
<app-header-card></app-header-card> -->
<!-- <div class="main-content"> -->
   <!-- <div class="row"> -->
     <div class="col-md-12">
         <div class="row light-blue">
             <div class="col-md-12 col-lg-12">
                <h5 class="admin-page-header"> KEYWORDS</h5>
             </div>
         </div>
         <div class="row align-items-center light-blue">
            <div class="col-md-3 col-lg-3">
                <label class="pull-right">Choose the Columns</label>
            </div>
                <div class="col-md-3 col-lg-3">
                 <p-multiSelect (onChange)="LoadKeywordsColumns($event)" [options]="columns" [(ngModel)]="cols"></p-multiSelect>
            </div>
            <div class="col-md-6 col-lg-6 right-align">
                <button class="btn btn-primary pull-right" style="margin-right:27px;font-size: 0.5rem;" 
                [routerLink]="['/admin/keywords/add']"> 
                    <i class="now-ui-icons ui-1_simple-add"></i> ADD NEW KEYWORD</button>
             </div>
            </div>
         <div class="row">
            <div class="col-md-12 col-lg-12">
                <ng-container *ngIf="tableColumns.length != 0">
                <p-table [resizableColumns]="true" [scrollable]="true" [responsive]="true" 
                [loading]="loading" [value]="keywords" [columns]="tableColumns" 
                [paginator]="true" [rows]="10" sortMode="multiple"
                [autoLayout]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-keywords>
                        <tr>
                            <td *ngFor="let col of tableColumns">
                                {{keywords[col.field]}}
                            </td>
                            <td class="center-align">
                                <button pButton type="button" style="margin-right: 5px;" icon="pi pi-pencil" class="rounded-button edit-control" (click)="onRowEditInit(keywords.id, keywords.userId)"></button>
                                <button pButton type="button" icon="pi pi-times" class="rounded-button delete-control" (click)="deleteKeyword(keywords.id)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
            <ng-container *ngIf="tableColumns.length == 0">
                <div class="row">
                    <div class="col-md-12 col-lg-12 center-align">
                        <h4 class="center-align none-selected">No Columns Selected</h4>
                    </div>
                </div>
            </ng-container>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12 col-lg-12">
                <button class="btn btn-primary pull-right" style="margin-right:27px;font-size: 0.5rem;" 
              [routerLink]="['/admin/keywords/add']"> 
                  <i class="now-ui-icons ui-1_simple-add"></i> Add</button>
            </div>
        </div> -->
          <!-- <div class="card"> -->
            <!-- <div class="card-header"> -->
              
            <!-- </div> -->
            <!-- <div class="card-body"> -->
          
              
            
            <!-- </div> -->
          <!-- </div> -->
     <!-- </div> -->
    <!-- </div> -->
</div>