.primary-color {
    color: #007BFF !important;
}

.center-align {
    text-align: center !important;
}

.right-align {
    text-align: right;
}

.text-left {
    text-align: left;
}

.light-border-bottom {
    border-bottom: 1px solid #e9ecef;
}

.limit-row-style {
    margin: 0px !important;
    width: 100% !important;
}

.none-selected {
    font-weight: bolder;
    color: darkgray;
}

.rounded-button {
    border-radius: 100% !important;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15) !important;
}

.edit-control {
    background: #f0ad4e !important;
    border-color: #f0ad4e !important;
}

.delete-control {
    background: #d43f3a !important;
    border-color: #d43f3a !important;
}

.light-blue {
    background: #e6f2ff !important;
}