.primary-color {
    color: #007BFF !important;
}

.center-align {
    text-align: center;
}

.right-center {
    text-align: right;
}

.text-left {
    text-align: left;
}

.light-border-bottom {
    border-bottom: 1px solid #e9ecef;
}

.limit-row-style {
    margin: 0px !important;
    width: 100% !important;
}