.primary-color {
    color: #007BFF !important;
}

.center-align {
    text-align: center !important;
}

.right-align {
    text-align: right;
}

.text-left {
    text-align: left;
}

.light-border-bottom {
    border-bottom: 1px solid #e9ecef;
}

.limit-row-style {
    margin: 0px !important;
    width: 100% !important;
}

.none-selected {
    font-weight: bolder;
    color: darkgray;
}

.rounded-button {
    border-radius: 100% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 100%;
}

.edit-control {
    background: transparent !important;
    border: 1px solid #f0ad4e !important;
    color: #f0ad4e !important;
}

.delete-control {
    background: transparent !important;
    border: 1px solid #d43f3a !important;
    color: #d43f3a !important;
} 

.light-blue {
    background: #e6f2ff !important;
}

.delete-btn {
    border: none;
    background: transparent;
    color: #d43f3a;
    border-radius: 50%;
    font-size: 1.5em;
}

.edit-btn {
    border: none;
    background: transparent;
    color: #f0ad4e;
    border-radius: 50%;
    font-size: 1.5em;
}