.no-padding-top {
    padding-top: 0px;
}

.padding-top-12 {
    padding-top: 12px;
}

.padding-top-12 {
    padding-top: 12px
}

.no-padding {
    padding: 0px !important;
}

.margin-side-15 {
    margin-left: 1em;
    margin-right: 1em;;
}

.padding-top-1 {
    padding-top: 1em;
}

.padding-left-1 {
    padding-left: 1em;
}

.padding-right-1 {
    padding-right: 1em;
}

.padding-top-07 {
    padding-top: 0.7em;
}