<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 center-align light-blue">
            <h5 class="admin-page-header" style="margin-left: 20px;">
                ADD NEW BROWSER CONTROLLER
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <form [formGroup]="testControllerForm" (ngSubmit)="onSubmit()">
                <div class="row padding-bottom-1 align-items-center margin-top-1">
                    <div class="col-md-2 col-lg-2">
                        <label for="FunctionName" class="pull-right">ID</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="ID" class="text form-control" formControlName="id">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="Module" class="pull-right">SL NO.</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="Module" class="text form-control" formControlName="module">
                    </div>
                </div>
                  
                        <div class="row">   
                                <div class="col-md-3">
                                    <label for="" class="pull-right">ID:</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="text form-control" formControlName="id">
                                </div>
                            </div>
                    <div class="row">   
                        <div class="col-md-3">
                            <label for="" class="pull-right">SLNO:</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="text form-control" formControlName="slno">
                        </div>
                    </div>
                    
                    <div class="row">   
                            <div class="col-md-3">
                                <label for="" class="pull-right">Module ID:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="text form-control" formControlName="moduleID">
                            </div>
                    </div>
                    <div class="row">   
                            <div class="col-md-3">
                                <label for="" class="pull-right">Module Sequence ID:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="text form-control" formControlName="moduleSeqID">
                            </div>
                    </div>
                    <div class="row">   
                            <div class="col-md-3">
                                <label for="" class="pull-right">Machine ID:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="text form-control" formControlName="machineID">
                            </div>
                    </div>
                    <div class="row">   
                            <div class="col-md-3">
                                <label for="" class="pull-right">Machine Sequence ID:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="text form-control" formControlName="machineSequenceID">
                            </div>
                    </div>
                    <div class="row">   
                            <div class="col-md-3">
                                <label for="" class="pull-right">Execute:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="text form-control" formControlName="execute">
                            </div>
                    </div>
                
                <br/>
                <br/>
                <div class="container">
                  <div class="row">
                      <div class="col-md-4">
                          <input type="submit" value="Add" class="button btn btn-primary pull-right" [disabled]="!testControllerForm.valid">
                      </div>
                      <div class="col-md-3">
                            <input type="button" value="Cancel" class="button btn" [routerLink]="['/table-list']">
                      </div>
                  </div>
                </div>
                </form>
        </div>
    </div>
</div>