<div class="col-md-12">
    <div style="padding-left: 15px;padding-right: 15px;background-color: #ffffff;padding: 0.571em 1em;border: 1px solid #c8c8c8;margin-top: 2em; margin-bottom: 2em;">
        <div class="row align-items-center">
        <div class="col-md-4 col-lg-4">
            <button class="btn btn-primary pull-left repository-add-btn" style="margin-right:27px; font-size: 0.65rem;"
                [routerLink]="['/admin/repository/add']">
                <i class="now-ui-icons ui-1_simple-add"></i>&nbsp;&nbsp;NEW REPOSITORY</button>
        </div>
        <div class="col-md-4 col-lg-4 right-align"></div>
        <div class="col-md-2 col-lg-2" style="padding-right: 0px;">
            <label class="pull-right" style="font-size: 0.9em;">Table Columns</label>
        </div>
        <div class="col-md-2 col-lg-2" style="padding-left: 0.5em">
            <p-multiSelect [options]="columns" [(ngModel)]="selectedRepositoryCols">
            </p-multiSelect>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <ng-container *ngIf="selectedRepositoryCols.length != 0">
                <p-table #re [resizableColumns]="true" [scrollable]="true" [responsive]="true" [loading]="loading"
                    [value]="repositories" [columns]="selectedRepositoryCols" [paginator]="true" [rows]="10"
                    sortMode="multiple" [autoLayout]="true" [(selection)]="selectedRepositoryRows" dataKey="id"
                    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 4em;">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th *ngFor="let col of selectedRepositoryCols" [pSortableColumn]="col.field"
                                style="width: 150px;">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th *ngFor="let col of selectedRepositoryCols" [ngSwitch]="col.field">
                                <input *ngSwitchCase="'id'" pInputText type="text" style="width:80%;"
                                    (input)="re.filter($event.target.value, col.field, 'contains')">
                                <input *ngSwitchCase="'logicalName'" pInputText type="text" style="width:80%;"
                                    (input)="re.filter($event.target.value, col.field, 'contains')">
                                <input *ngSwitchCase="'findMethod'" pInputText type="text" style="width:80%;"
                                    (input)="re.filter($event.target.value, col.field, 'contains')">
                                <input *ngSwitchCase="'xpathQueryPropertyName'" pInputText type="text"
                                    style="width:80%;" (input)="re.filter($event.target.value, col.field, 'contains')">
                                <input *ngSwitchCase="'propertyValue'" pInputText type="text" style="width:80%;"
                                    (input)="re.filter($event.target.value, col.field, 'contains')">
                                <input *ngSwitchCase="'tagName'" pInputText type="text" style="width:80%;"
                                    (input)="re.filter($event.target.value, col.field, 'contains')">
                                <input *ngSwitchCase="'featureName'" pInputText type="text" style="width:80%;"
                                    (input)="re.filter($event.target.value, col.field, 'contains')">
                                <input *ngSwitchCase="'module'" pInputText type="text" style="width:80%;"
                                    (input)="re.filter($event.target.value, col.field, 'contains')">
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-repositories>
                        <tr [pSelectableRow]="rowData">
                            <td style="width: 4em;">
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </td>
                            <td *ngFor="let col of selectedRepositoryCols" style="width: 150px;">
                                <ng-container *ngIf="col.field == 'actions'">
                                    <button class="edit-btn"
                                        (click)="onRowEditInit(repositories.id, repositories.userId)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="delete-btn" (click)="deleteScript(testscripts.id)"
                                        (click)="deleteRepository(repositories.id)"
                                        [disabled]="(globalService.currentUser.roleId == 2 ? true : false)">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </ng-container>
                                <ng-container *ngIf="col.field != 'actions'">
                                    <div *ngIf="repositories[col.field].length > 30">
                                        <div pTooltip="{{repositories[col.field]}}" tooltipStyleClass="tooltipStyle">
                                            {{repositories[col.field] | slice:0:29}}...
                                        </div>
                                    </div>
                                    <div *ngIf="repositories[col.field].length < 30">
                                        {{repositories[col.field]}}
                                    </div>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
            <ng-container *ngIf="selectedRepositoryCols.length == 0">
                <div class="row">
                    <div class="col-md-12 col-lg-12 center-align">
                        <h4 class="center-align none-selected">No Columns Selected</h4>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    </div>
</div>