<div class="col-md-12">
    <div class="row align-items-center ">
        <div class="col-md-3 col-lg-3">
            <label class="pull-right">Choose the Columns</label>
        </div>
        <div class="col-md-3 col-lg-3">
            <p-multiSelect (onChange)="LoadRepositoryColumns($event)" [options]="columns" [(ngModel)]="cols">
            </p-multiSelect>
        </div>
        <div class="col-md-6 col-lg-6 right-align">
            <button class="btn btn-primary pull-right" style="margin-right:27px;font-size: 0.5rem;"
                [routerLink]="['/admin/repository/add']">
                <i class="now-ui-icons ui-1_simple-add"></i> ADD NEW Repository</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <ng-container *ngIf="tableColumns.length != 0">
                <p-table #re [resizableColumns]="true" [scrollable]="true" [responsive]="true" [loading]="loading"
                    [value]="repositories" [columns]="tableColumns" [paginator]="true" [rows]="10" sortMode="multiple"
                    [autoLayout]="true">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col *ngFor="let col of columns" style="width:200px">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-repositories>
                        <tr>
                            <td *ngFor="let col of tableColumns">
                                <ng-container *ngIf="col.field == 'actions'">
                                    <button pButton type="button"
                                        style="background-color: #100699 !important;margin-right: 5px;"
                                        icon="pi pi-pencil" class="ui-button-success ui-button-raised"
                                        (click)="onRowEditInit(repositories.id, repositories.userId)"></button>
                                    <button pButton type="button" icon="pi pi-times" class="ui-button-danger"
                                        (click)="deleteRepository(repositories.id)"></button>
                                </ng-container>
                                <ng-container *ngIf="col.field != 'actions'">
                                    {{repositories[col.field]}}
                                </ng-container>
                            </td>
                            <!-- <td class="center-align">
                                <button pButton type="button" style="margin-right: 5px;" icon="pi pi-pencil"
                                    class="rounded-button edit-control"
                                    (click)="onRowEditInit(repositories.id, repositories.userId)"></button>
                                <button pButton type="button" icon="pi pi-times" class="rounded-button delete-control"
                                    (click)="deleteRepository(repositories.id)"></button>
                            </td> -->
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
            <ng-container *ngIf="tableColumns.length == 0">
                <div class="row">
                    <div class="col-md-12 col-lg-12 center-align">
                        <h4 class="center-align none-selected">No Columns Selected</h4>
                    </div>
                </div>
            </ng-container>
        </div>