<br>
<br>
<h3 class="bold" style="margin-left: 20px;">
    Edit TestScript
</h3>
<br>
<br>
<form [formGroup]="testScriptForm" (ngSubmit)="onSubmit()">
<div class="container">
  
        <div class="row">   
                <div class="col-md-3">
                    <label for="" class="pull-right">ID:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="text form-control" formControlName="id" disabled>
                </div>
                <div class="col-md-3">
                        <label for="" class="pull-right">TC_StepID:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="text form-control" formControlName="tc_stepID">
                    </div>
            </div>
    
    <div class="row">   
            <div class="col-md-3">
                <label for="" class="pull-right">TestCase ID:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="text form-control" formControlName="testCaseID">
            </div>
            <div class="col-md-3">
                    <label for="" class="pull-right">TestScript Name:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="text form-control" formControlName="testScriptName">
                </div>
    </div>
    
    <div class="row">   
            <div class="col-md-3">
                <label for="" class="pull-right">Function Description:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="text form-control" formControlName="functionDescription">
            </div>
            <div class="col-md-3">
                    <label for="" class="pull-right">Function Name:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="text form-control" formControlName="functionName">
                </div>
    </div>
   
    <div class="row">   
            <div class="col-md-3">
                <label for="" class="pull-right">Execute:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="text form-control" formControlName="execute">
            </div>
            <div class="col-md-3">
                    <label for="" class="pull-right">Feature Name:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="text form-control" formControlName="featureName">
                </div>
    </div>
    
    <div class="row">   
            <div class="col-md-3">
                <label for="" class="pull-right">Param1:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="text form-control" formControlName="param1">
            </div>
            <div class="col-md-3">
                    <label for="" class="pull-right">Param2:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="text form-control" formControlName="param2">
                </div>
    </div>
   
    <div class="row">   
            <div class="col-md-3">
                <label for="" class="pull-right">Param3:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="text form-control" formControlName="param3">
            </div>
            <div class="col-md-3">
                    <label for="" class="pull-right">Param4:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="text form-control" formControlName="param4">
                </div>
    </div>
    
    <div class="row">   
            <div class="col-md-3">
                <label for="" class="pull-right">Param5:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="text form-control" formControlName="param5">
            </div>
            <div class="col-md-3">
                    <label for="" class="pull-right">Param6:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="text form-control" formControlName="param6">
                </div>
    </div>
  
    <div class="row">   
            <div class="col-md-3">
                <label for="" class="pull-right">Param7:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="text form-control" formControlName="param7">
            </div>
            <div class="col-md-3">
                    <label for="" class="pull-right">Param8:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="text form-control" formControlName="param8">
                </div>
    </div>
   
    <div class="row">   
            <div class="col-md-3">
                <label for="" class="pull-right">Param9:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="text form-control" formControlName="param9">
            </div>
            <div class="col-md-3">
                    <label for="" class="pull-right">Param10:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="text form-control" formControlName="param10">
                </div>
    </div>
    
    <div class="row">   
            <div class="col-md-3">
                <label for="" class="pull-right">Param11:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="text form-control" formControlName="param11">
            </div>
            <div class="col-md-3">
                    <label for="" class="pull-right">Param12:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="text form-control" formControlName="param12">
                </div>
    </div>
    
    <div class="row">   
            <div class="col-md-3">
                <label for="" class="pull-right">Param13:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="text form-control" formControlName="param13">
            </div>
            <div class="col-md-3">
                    <label for="" class="pull-right">Param14:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="text form-control" formControlName="param14">
                </div>
    </div>
   
    <div class="row">   
            <div class="col-md-3">
                <label for="" class="pull-right">Param15:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="text form-control" formControlName="param15">
            </div>
            <div class="col-md-3">
                    <label for="" class="pull-right">Param16:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="text form-control" formControlName="param16">
                </div>
    </div>
   
    <div class="row">   
            <div class="col-md-3">
                <label for="" class="pull-right">Param17:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="text form-control" formControlName="param17">
            </div>
            <div class="col-md-3">
                    <label for="" class="pull-right">Param18:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="text form-control" formControlName="param18">
                </div>
    </div>
   
    <div class="row">   
            <div class="col-md-3">
                <label for="" class="pull-right">Param19:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="text form-control" formControlName="param19">
            </div>
            <div class="col-md-3">
                    <label for="" class="pull-right">Param20:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="text form-control" formControlName="param20">
                </div>
    </div>
   

</div>
<br/>
<br/>
<div class="container">
  <div class="row">
      <div class="col-md-4">
          <input type="submit" value="Update" class="button btn btn-primary pull-right" [disabled]="!testScriptForm.valid">
      </div>
      <div class="col-md-3">
            <input type="button" value="Cancel" class="button btn" [routerLink]="['/testscripts']">
      </div>
  </div>
</div>
</form>