<div class="container-fluid">
  <div class="row align-items-center" style="padding-top: 1em;">
    <div class="col-1"></div>
    <div class="col-2">
      <div class="row">
        <div class="col-12">
          <div class="card-container blue-card">
          <div class="row align-items-center" style="padding-top: 3px">
            <div class="col-12">
              <span class="card-name">REPOSITORY</span>
            </div>
          </div>
          <div class="row align-items-end" style="padding-bottom: 7px;">
            <div class="col-6" style="text-align: center;">
              <i class="fa fa-inbox card-icon blue-card-icon"></i>
            </div>
            <div class="col-6" style="text-align: left;padding-left: 0px;">
              <div class="row">
                <div class="col-12">
                  <span class="card-number blue-card-number">8768</span>
                  </div>
                  <div class="col-12">
                    <span class="card-subtitle blue-card-text-color">Number of Records</span>
                    </div>
                  </div>
            </div>
            
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="row">
        <div class="col-12">
          <div class="green-card card-container">
          <div class="row align-items-center" style="padding-top: 3px">
            <div class="col-12">
              <span class="card-name">KEYWORDS</span>
            </div>
          </div>
          <div class="row align-items-end" style="padding-bottom: 7px;">
            <div class="col-6" style="text-align: center;">
              <i class="fa fa-envelope-o card-icon green-card-icon"></i>
            </div>
            <div class="col-6" style="text-align: left;padding-left: 0px;">
              <div class="row">
                <div class="col-12">
                  <span class="card-number green-card-text-color">5546</span>
                  </div>
                  <div class="col-12">
                    <span class="card-subtitle green-card-text-color">Number of Records</span>
                    </div>
                  </div>
            </div>
            
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="row">
        <div class="col-12">
          <div class="card-container red-card">
          <div class="row align-items-center" style="padding-top: 3px">
            <div class="col-12">
              <span class="card-name">CONTROLLERS</span>
            </div>
          </div>
          <div class="row align-items-end" style="padding-bottom: 7px;">
            <div class="col-6" style="text-align: center;">
              <i class="fa fa-chain-broken card-icon red-card-icon"></i>
            </div>
            <div class="col-6" style="text-align: left;padding-left: 0px;">
              <div class="row">
                <div class="col-12">
                  <span class="card-number red-card-text-color">8768</span>
                  </div>
                  <div class="col-12">
                    <span class="card-subtitle red-card-text-color">Number of Records</span>
                    </div>
                  </div>
            </div>
            
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="row">
        <div class="col-12">
          <div class="card-container yellow-card">
          <div class="row align-items-center" style="padding-top: 3px">
            <div class="col-12">
              <span class="card-name">TEST SCRIPT</span>
            </div>
          </div>
          <div class="row align-items-end" style="padding-bottom: 7px;">
            <div class="col-6" style="text-align: center;">
              <i class="fa fa-file-text card-icon yellow-card-icon"></i>
            </div>
            <div class="col-6" style="text-align: left;padding-left: 0px;">
              <div class="row">
                <div class="col-12">
                  <span class="card-number yellow-card-text-color">665</span>
                  </div>
                  <div class="col-12">
                    <span class="card-subtitle yellow-card-text-color">Number of Records</span>
                    </div>
                  </div>
            </div>
            
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="row">
        <div class="col-12">
          <div class="card-container purple-card">
          <div class="row align-items-center" style="padding-top: 3px">
            <div class="col-12">
              <span class="card-name purple-card-text-color">TEST DATA</span>
            </div>
          </div>
          <div class="row align-items-end" style="padding-bottom: 7px;">
            <div class="col-6" style="text-align: center;">
              <i class="fa fa-database card-icon purple-card-icon"></i>
            </div>
            <div class="col-6" style="text-align: left;padding-left: 0px;">
              <div class="row">
                <div class="col-12">
                  <span class="card-number purple-card-text-color">7765</span>
                  </div>
                  <div class="col-12">
                    <span class="card-subtitle purple-card-text-color">Number of Records</span>
                    </div>
                  </div>
            </div>
            
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
      
      
      
      
    
  </div>
  </div>