
<div class="container-fluid">
  <div class="row align-items-center" style="padding-top: 1em;">
    <div class="col-lg-3 col-md-3" style="text-align: left;">
      <div class="card card-chart" style="height: 11em !important;">
        <div class="card-header-custom">
          <div class="row">
            <div class="col-3">
              <i class="fa fa-user-circle-o" style="font-size:3em !important; color: #007AD9" aria-hidden="true"></i>
            </div>
            <div class="col-9">
              <h4 class="card-title" style="margin-top: 0px;font-weight: bolder;font-weight: unset;color: #007AD9;margin-bottom: 0px;">PROFILE</h4>
              <h6 _ngcontent-gvp-c6="" class="card-sub-text pull-right" style="font-weight: light;font-style: normal;font-size: 0.7em;color: #007AD9;margin-top: 0px;margin-bottom: 0px;">User Info</h6>
            </div>
          </div>
          
        </div>
        <div class="card-body" style="height: 8em !important;">
            <div class="row align-items-center limit-row-style" style="height: 8em !important;">
                <div class="col-lg-4 col-md-4 center-align primary-color">
                  
                </div>
                <div class="col-lg-8 col-md-8">
                  
                </div>
            </div>
    
        </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-3" style="text-align: center;">
      <div class="card card-chart" style="height: 6.5em !important;background: #007AD9;">
          <div class="card-body" style="height: 6.5em">
            <div class="row align-items-center limit-row-style" style="height: 6.5em;">
              <div class="col-lg-4 col-md-4 center-align primary-color">
                <i style="color: white" class="fa fa-users fa-4x" aria-hidden="true"></i>
              </div>
              <div class="col-lg-8 col-md-8">
                <div class="row align-items-center">
                  <div class="col-lg-12 col-md-12" style="border-left: 1.5px solid white; margin-left: 1em;text-align: left;">
                    <h6 class="card-sub-text" style="font-size:2em;color: white;">{{globalService.activeUsers}} <span style="font-size: 0.7em !important;text-transform: none;"> Users</span></h6>
                    <h6 class="card-sub-text" style="font-weight: 500; font-style: normal;font-size: 0.7em;color: white;">Active Users</h6>
                  </div>
                </div>
              </div>
          </div>
          </div>
        </div>
  </div>
  
  <div class="col-lg-3 col-md-3" style="text-align: center;">
    <div class="card card-chart" style="height: 6.5em !important;background: #007AD9;">
        <div class="card-body" style="height: 6.5em;">
          <div class="row align-items-center limit-row-style" style="height: 6.5em;">
            <div class="col-lg-4 col-md-4 center-align primary-color">
              <i style="color: white" class="fa fa-folder-open fa-3x" aria-hidden="true"></i>
            </div>
            <div class="col-lg-8 col-md-8">
              <div class="row align-items-center">
                <div class="col-lg-12 col-md-12" style="border-left: 1.5px solid white; margin-left: 1em;text-align: left;">
                  <h6 class="card-sub-text" style="font-size:2em;color: white;">{{globalService.recordsModified}}<span style="font-size: 0.7em !important;text-transform: none;"> Records</span></h6>
                  <h6 class="card-sub-text" style="font-weight: 500; font-style: normal;font-size: 0.7em;color: white;">Modified Records</h6>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
</div>

<div class="col-lg-3 col-md-3" style="text-align: left;">
  <div class="card card-chart" style="height: 11em !important;">
    <div class="card-header-custom">
      <div class="row">
        <div class="col-3">
          <i class="fa fa-clock" style="font-size:3em; color: #007AD9" aria-hidden="true"></i>
        </div>
        <div class="col-9">
          <h4 class="card-title" style="margin-top: 0px;font-weight: bolder;font-weight: unset;color: #007AD9;margin-bottom: 0px;">TIMELINE</h4>
          <h6 _ngcontent-gvp-c6="" class="card-sub-text pull-right" style="height: 3em!important;font-weight: light;font-style: normal;font-size: 0.7em;color: #007AD9;margin-top: 0px;margin-bottom: 0px;">Recent Activities</h6>
        </div>
      </div>
      
    </div>
    <div class="card-body" style="height: 10em !important;">
        <div class="row align-items-center limit-row-style" style="height: 8em !important;">
            <div class="col-lg-4 col-md-4 center-align primary-color">
              
            </div>
            <div class="col-lg-8 col-md-8">
              
            </div>
        </div>

    </div>
</div>
</div>
  <!-- <div class="col-lg-4 col-md-4" style="text-align: center;">
    <div class="card card-chart" style="height: 7em;background: #100699;">
      <div class="card-body" style="height: 7em;">
        <div class="row align-items-center limit-row-style" style="height: 7em;">
          <div class="col-lg-4 col-md-4 center-align primary-color">
            <i style="color: white;" class="fa fa-folder-open fa-4x" aria-hidden="true"></i>
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="row align-items-center">
              <div class="col-lg-12 col-md-12">
                <h6 class="card-sub-text" style="border-left: 1.5px solid white; margin-left: 1em;text-align: left">{{globalService.recordsModified}} Records</h6>
                <h6 class="card-sub-text" style="font-size:1.4em;color: white;">Modified Records</h6>
              </div>
            </div>
          </div>
      </div>
      </div>
      
    </div>
  </div> -->
    <!-- <div class="col-lg-4 col-md-4" style="text-align: center;">
          <div class="card card-chart" style="height: 7em;">
              <div class="card-body" style="height: 7em;">
                  <div class="row align-items-center limit-row-style" style="height: 7em;">
                      <div class="col-lg-4 col-md-4 center-align primary-color">
                        <i class="fa fa-user-circle fa-4x" aria-hidden="true"></i>
                      </div>
                      <div class="col-lg-8 col-md-8">
                        <div class="row">
                          <div class="col-lg-12 col-md-12">
                            <h6 class="card-sub-text" style="font-size: 1.4em;">User ID: {{globalService.currentUserID}}</h6>
                            <h6 class="card-sub-text" style="font-size: 0.7em;font-weight: 500; font-style: normal;">User Profile</h6>
                          </div>
                        </div>
                      </div>
                  </div>
  
              </div>
          </div>
      </div> -->
      
      
      
      
    
  </div>
  </div>