@import '../../../../assets/scss/common.scss';
@import '../../../../assets/scss/spacing-out.scss';

.chart-area {
    height: 100% !important;
    width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
  } 


  .card-chart  {
    margin: 0px;
    height: 6em !important;
    width: 100% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .card-header {
    padding-top: 5px !important;
    height: 4em !important;
  }

  .card-header-custom {
    padding-top: 5px !important;
    height: 4em !important;
    border-bottom: 0.5px solid #007AD9;
    margin-left: 1em;
    margin-right: 1em;
  }

  .card-header>h5 {
    font-size: smaller;
    margin-bottom: 0px;
    margin-top: 0.2em;
  }

  .card-header>h4{
    font-size: x-large !important;
    margin-top: 0px;
  }

  .card-body {
    padding: 0px !important;
    height: 5em !important;
  }
  
  .card-main-text {
    margin: 0px;
    font-size: 1.3em;
  }

  .card-sub-text {
    font-size: 0.8em;
    margin-top: 0.5em;
  }

  .card-extra-text {
    font-size: 0.75em; //
    font-style: italic;
  }

  .card-list-row {
    padding: 5px;
    font-size: 0.7em;
  }

  .card-container {
    box-shadow: 0 4px 8px 0 rgba(179, 215, 255, 0.2), 0 6px 20px 0 rgba(204, 229, 255, 0.19);
    border-radius: 5px;
    font-family: 'Fira Sans', sans-serif;
  }

  
  .green-card {
    border: 0.5px solid #215e44;
    width: 85%;
    height: auto;
  }
  
  .green-card-icon {
    background: #215e44 !important;
    color: #FFFFFF !important;
  }

  .green-card-selected {
    background: #215e44;
    width: 100%;
    height: 100%;
  }

  .green-card-icon-selected {
    background: #c6ebdb !important;
    color: #215e44 !important;
  }

  .green-card-text-color {
    color: #215e44  !important;
  }

  .blue-card {
    border: 0.5px solid #0075D0;
    width: 85%;
    height: auto;
  }

  .blue-card-icon {
    background: #0075D0 !important;
    color: #FFFFFF !important;
  }

  .blue-card-selected {
    background: #0075D0;
    width: 100%;
    height: 100%;
  }

  .blue-card-icon-selected {
    background: #b3deff !important;
    color: #0075D0 !important;
  }

  .blue-card-text-color {
    color: #0075D0 !important;
  }

  .yellow-card {
    border: 0.5px solid #cc6600;
    width: 85%;
    height: auto;
  }

  .yellow-card-icon {
    background: #cc6600 !important;
    color: #FFFFFF !important;
  }

  .yellow-card-selected {
    background: #cc6600;
    width: 100%;
    height: 100%;
  }

  .yellow-card-icon-selected {
    background: #ffca99 !important;
    color: #cc6600 !important;
  }

  .yellow-card-text-color {
    color: #cc6600  !important;
  }

  .red-card {
    border: 0.5px solid #b32400;
    width: 85%;
    height: auto;
  }


  .red-card-icon {
    background: #b32400 !important;
    color: #FFFFFF !important;
  }

  .red-card-selected {
    background: #b32400;
    width: 100%;
    height: 100%;
  }

  .red-card-icon-selected {
    background: #ffc2b3 !important;
    color: #b32400 !important;
  }

  .red-card-text-color {
    color: #b32400  !important;
  }

  .purple-card {
    border: 0.5px solid #400080;
    width: 85%;
    height: auto;
  }

  .purple-card-icon {
    background: #400080 !important;
    color: #FFFFFF !important;
  }

  .purple-card-selected {
    background: #400080;
    width: 100%;
    height: 100%;
  }

  .purple-card-icon-selected {
    background: #d9b3ff !important;
    color: #400080 !important;
  }

  .purple-card-text-color {
    color: #400080  !important;
  }

  .turquoise-card {
    background: #ffffb3;
  }

  .turquoise-card-icon {
    background: #808000 !important;
    color: #FFFFFF !important;
  }

  .turquoise-card-text-color {
    color: #808000  !important;
  }


  .card-icon {
    font-size: 32px !important;
    
    margin-left: 7px !important;
    padding: 12px;
    
    border-radius: 50%;
    
  }

  .card-name {
    font-size: 12px !important;
    
    padding-left: 15px !important;
    font-family: 'Titillium Web', sans-serif;
    
  }

  .card-name-font {
    color: black !important;
  }

  .card-number {
    font-size: 23px !important;
    
    font-family: 'Titillium Web', sans-serif;
  }

  .card-subtitle {
    font-size: 10px !important;
    font-family: 'Fira Sans', sans-serif;
    color: black;
  }

  .selected-card-font {
    color: white;
  }
