<div class="col-md-12">
    <div class="row align-items-center" style="padding-top: 2em; padding-bottom: 2em;">
        <div class="col-md-4 col-lg-4">
            <button class="btn btn-primary pull-left" style="margin-right:27px; font-size: 0.5rem;"
                [routerLink]="['/admin/testscripts/add']">
                <i class="now-ui-icons ui-1_simple-add"></i>ADD NEW TESTSCRIPT</button>
        </div>
        <div class="col-md-4 col-lg-4 center-align"></div>
        <div class="col-md-2 col-lg-2" style="padding-right: 0px;">
            <label class="pull-right" style="font-size: 0.9em;">Table Columns</label>
        </div>
        <div class="col-md-2 col-lg-2" style="padding-left: 0.5em">
            <p-multiSelect  [options]="columns" [(ngModel)]="tableColumns">
            </p-multiSelect>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <ng-container *ngIf="tableColumns.length != 0">
                <p-table [resizableColumns]="true" [scrollable]="true" [responsive]="true" [loading]="loading"
                    [value]="testscripts" [columns]="tableColumns" [paginator]="true" [rows]="10" 
                    sortMode="multiple" [autoLayout]="true" [(selection)]="selectedRepositoryRows" dataKey="id"
                    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 4em;">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field" style="width: 150px;">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th *ngFor="let col of tableColumns" [ngSwitch]="col.field" style="text-align: center;">
                                <input style="width: 100%;" *ngSwitchCase="'id'" pInputText type="text"
                                    (input)="tt.filter($event.target.value, col.field, 'contains')">
                                <input style="width: 100%;" *ngSwitchCase="'testCaseID'" pInputText type="text"
                                    (input)="tt.filter($event.target.value, col.field, 'contains')">
                                <input style="width: 100%;" *ngSwitchCase="'tcStepID'" pInputText type="text"
                                    (input)="tt.filter($event.target.value, col.field, 'contains')">
                                <input style="width: 100%;" *ngSwitchCase="'testScriptName'" pInputText type="text"
                                    (input)="tt.filter($event.target.value, col.field, 'contains')">
                                <input style="width: 100%;" *ngSwitchCase="'functionDescription'" pInputText type="text"
                                    (input)="tt.filter($event.target.value, col.field, 'contains')">
                                <input style="width: 100%;" *ngSwitchCase="'functionName'" pInputText type="text"
                                    (input)="tt.filter($event.target.value, col.field, 'contains')">
                                <input style="width: 100%;" *ngSwitchCase="'module'" pInputText type="text"
                                    (input)="tt.filter($event.target.value, col.field, 'contains')">
                                <input style="width: 100%;" *ngSwitchCase="'run'" pInputText type="text"
                                    (input)="tt.filter($event.target.value, col.field, 'contains')">
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-testscripts>
                        <tr [pSelectableRow]="rowData">
                            <td style="width: 4em;">
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </td>
                            <td *ngFor="let col of tableColumns" style="width: 150px;">
                                <ng-container *ngIf="col.field == 'actions'">
                                    <button class="edit-btn"  (click)="onRowEditInit(testscripts.id)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="delete-btn" (click)="deleteScript(testscripts.id)"
                                    disabled>
                                        <i class="fa fa-close"></i>
                                    </button>                                   
                                </ng-container>
                                <ng-container *ngIf="col.field != 'actions'">
                                    <div class="tooltip-ex" *ngIf="testscripts[col.field].length > 10">
                                        <span style="color: black !important;">{{(testscripts[col.field]).substring(0, 9)}}...</span>
                                        <span class="tooltip-ex-text">
                                            <span style="color: black;">{{testscripts[col.field]}}</span>
                                        </span>
                                    </div>
                                    <div *ngIf="testscripts[col.field].length < 10">
                                        {{testscripts[col.field]}}
                                    </div>                              
                                </ng-container>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
            <ng-container *ngIf="tableColumns.length == 0">
                <div class="row">
                    <div class="col-md-12 col-lg-12 center-align">
                        <h4 class="center-align none-selected">No Columns Selected</h4>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>