<div class="col-md-12">
    <div class="row align-items-center" style="padding-top: 2em; padding-bottom: 2em;">
        <div class="col-md-4 col-lg-4">
            <button class="btn btn-primary pull-left" style="margin-right:27px; font-size: 0.5rem;"
                [routerLink]="['/admin/testscripts/add']">
                <i class="now-ui-icons ui-1_simple-add"></i>ADD NEW TESTSCRIPT</button>
        </div>
        <div class="col-md-4 col-lg-4 center-align">
            <!-- <h5 class="admin-page-header"> BROWSER CONTROLLER</h5> -->
        </div>
        <div class="col-md-2 col-lg-2" style="padding-right: 0px;">
            <label class="pull-right" style="font-size: 0.9em;">Table Columns</label>
        </div>
        <div class="col-md-2 col-lg-2" style="padding-left: 0.5em">
            <p-multiSelect (onChange)="loadTestScriptsColumns($event)" [options]="columns" [(ngModel)]="tableColumns">
            </p-multiSelect>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <ng-container *ngIf="tableColumns.length != 0">
                <p-table [resizableColumns]="true" [scrollable]="true" [responsive]="true" [loading]="loading"
                    [value]="testscripts" [columns]="tableColumns" [paginator]="true" [rows]="10" sortMode="multiple"
                    [autoLayout]="true">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col *ngFor="let col of columns" style="width:200px">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of tableColumns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th>Actions</th>
                        </tr>
                        <tr>
                            <th *ngFor="let col of tableColumns" [ngSwitch]="col.field">
                                <input *ngSwitchCase="'id'" pInputText type="text"
                                    (input)="tt.filter($event.target.value, col.field, 'contains')">
                                <input *ngSwitchCase="'testCaseID'" pInputText type="text"
                                    (input)="tt.filter($event.target.value, col.field, 'contains')">
                                <input *ngSwitchCase="'tc_stepID'" pInputText type="text"
                                    (input)="tt.filter($event.target.value, col.field, 'contains')">
                                <input *ngSwitchCase="'testScriptName'" pInputText type="text"
                                    (input)="tt.filter($event.target.value, col.field, 'contains')">
                                <input *ngSwitchCase="'functionDescription'" pInputText type="text"
                                    (input)="tt.filter($event.target.value, col.field, 'contains')">
                                <input *ngSwitchCase="'functionName'" pInputText type="text"
                                    (input)="tt.filter($event.target.value, col.field, 'contains')">
                                    <input *ngSwitchCase="'module'" pInputText type="text"
                                    (input)="tt.filter($event.target.value, col.field, 'contains')">
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-testscripts>
                        <tr>
                            <td *ngFor="let col of tableColumns">
                                <ng-container *ngIf="col.field == 'actions'">
                                    <button pButton type="button" style="margin-right: 5px;" icon="pi pi-pencil"
                                        class="rounded-button edit-control"
                                        (click)="onRowEditInit(testscripts.id)"></button>
                                    <button pButton type="button" icon="pi pi-times"
                                        class="rounded-button delete-control" (click)="deleteScript(testscripts.id)"
                                        disabled></button>
                                </ng-container>
                                <ng-container *ngIf="col.field != 'actions'">
                                    {{testscripts[col.field]}}
                                </ng-container>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
            <ng-container *ngIf="tableColumns.length == 0">
                <div class="row">
                    <div class="col-md-12 col-lg-12 center-align">
                        <h4 class="center-align none-selected">No Columns Selected</h4>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>