p-table .ui-table .ui-table-thead > tr > th {
    color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    background: #007ad9 !important;
}

p-table .ui-table .ui-table-tbody > tr:nth-child(even) {
    background: #e6f4ff !important;
}

p-table .ui-table .ui-sortable-column .ui-sortable-column-icon {
    color: white !important;
}

p-table .ui-paginator {
    color: #007ad9 !important;
    border-color: #FFFFFF !important;
    background: #e6f4ff !important;
}

.tooltip-ex { /* Container for our tooltip */
    position: relative; 
    display: inline-block;
   }
   
   .tooltip-ex .tooltip-ex-text { /* This is for the tooltip text */
    visibility: hidden;
    width: 100px;
    background-color: #007ad9;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    border-radius: 10px; /* This defines tooltip text position */
    position: fixed;
    
    z-index: 99999999;
   }
   
   .tooltip-ex:hover .tooltip-ex-text { /* Makes tooltip text visible when text is hovered on */
    visibility: visible;
   }