
.btn-primary {
    background-color: #100699;
    color: #FFFFFF;
  }
  .ui-table .ui-table-thead > tr > th {
    padding: 0.571em 0.857em;
    border: 1px solid #c8c8c8;
    
    font-size: small;
    color:#e1eaf2;
    background-color: #f4f4f4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
 
  .ui-table .ui-table-tbody > tr > td {
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: x-small;
    word-wrap: break-word;
    }
    .ui-widget{
      font-size: x-small;
    }