<mat-toolbar style="background-color: #e6f4ff;">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-2 col-md-2" style="text-align: left;">
        <i class="fa fa-bars fa-2x" (click)="globalService.opened = !globalService.opened"></i>
        </div>
      <div class="col-lg-5 col-md-5">
        <span>{{getTitle()}}</span>
      </div>
      <div class="col-lg-5 col-md-5" style="text-align: right;font-size: 16px;font-family: Raleway;">
        <span>User Details: </span>
        <span>{{globalService.currentUser.userName}} | {{globalService.currentUser.userId}} | {{userRole}}</span>
        <mat-icon style="color: #005799;font-size: 1.2em; padding-left: 3em;" (click)="logout()"aria-hidden="false" aria-label="Example delete icon">
          power_settings_new</mat-icon>
      </div>
    </div>
  </div>
</mat-toolbar>