<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 center-align">
            <h6 class="admin-page-header" style="margin-left: 20px;">
                ADD NEW MODULE CONTROLLER
            </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <form [formGroup]=" moduleControllerForm" (ngSubmit)="onSubmit()">
                <div class="row padding-bottom-1 align-items-center margin-top-1">
                    <!-- <div class="col-md-2 col-lg-2">
                        <label for="slno" class="pull-right">SL No</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="number" name="slno" class="text form-control" formControlName="slno">
                    </div> -->
                    <div class="col-md-2 col-lg-2">
                        <label for="moduleID" class="pull-right">Module ID</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="moduleID" class="text form-control" formControlName="moduleID">
                    </div>
                </div>
                <div class="row padding-bottom-1 align-items-center">
                    <div class="col-md-2 col-lg-2">
                        <label for="moduleSeqID" class="pull-right">moduleSeqID</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="number" name="moduleSeqID" class="text form-control" formControlName="moduleSeqID">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="machineID" class="pull-right">machineID</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="machineID" class="text form-control" formControlName="machineID">
                    </div>
                </div>
                <div class="row padding-bottom-1 align-items-center">
                    <div class="col-md-2 col-lg-2">
                        <label for="machineSequenceID" class="pull-right">machineSequenceID</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="number" name="machineSequenceID" class="text form-control" formControlName="machineSequenceID">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="run" class="pull-right">run</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <!-- <input type="text" name="run" class="text form-control" formControlName="run"> -->
                        <p-dropdown #dd [options]="runValues" name="run" [(ngModel)]="selectedRun" 
                        formControlName="run" placeholder="Choose Run"></p-dropdown>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 right-align">
                        <button type="submit" class="button btn btn-success" [disabled]="!moduleControllerForm.valid">
                            <i class="fa fa-plus"></i> SAVE
                            </button>
                    </div>
                    <div class="col-md-6 col-lg-6">
                          <button type="button" class="button btn btn-danger" [routerLink]="['/admin/feature']">
                            <i class="fa fa-close"> </i> CANCEL
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


