@import '../../assets/scss/common.scss';
@import '../../assets/scss/spacing-out.scss';

.sidebar .nav li > a{
    margin-right: 3.5em !important;
    padding: 0px;
}

.sidebar{
    width: 20%;
}

// .sidebar .sidebar-wrapper{
//     width: 228px;
// }

.main-panel{
    // width: 875px !important;
    width: 80% !important;
}

.sidebar .nav li.active > a{
    color: black;
}

.panel-header {
    background: whitesmoke !important;
}

.navbar a:not(.btn):not(.dropdown-item){
    color: #007bff !important;
}

.input-group-text{
    color: #007bff !important;
}

mat-sidenav-container {
    height: 100%;
}

.admin-page-header {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #007bff;
    font-weight: bolder;
}