<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 center-align">
            <h6 class="admin-page-header" style="margin-left: 20px;">
                EDIT MODULE CONTROLLER
            </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <form [formGroup]="testControllerForm" (ngSubmit)="onSubmit()">
                <div class="row padding-bottom-1 align-items-center margin-top-1">
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Module ID:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editMControllerObj.moduleID" formControlName="moduleID">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Module Seq ID:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editMControllerObj.moduleSeqID" formControlName="moduleSeqID">
                    </div>
                </div>
                <div class="row padding-bottom-1 align-items-center margin-top-1">
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Machine ID:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editMControllerObj.machineID" formControlName="machineID">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Machine Seq ID:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editMControllerObj.machineSequenceID" formControlName="machineSequenceID">
                    </div>
                </div>
                <div class="row padding-bottom-1 align-items-center margin-top-1">
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Run:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <p-dropdown #dd [options]="runValues" name="exec" [(ngModel)]="editMControllerObj.run"
                         formControlName="run"></p-dropdown>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 right-align">
                        <button type="submit" class="button btn btn-success" [disabled]="!testControllerForm.valid">
                            <i class="fa fa-pencil"></i> SAVE
                            </button>
                    </div>
                    <div class="col-md-6 col-lg-6">
                          <button type="button" class="button btn btn-danger" [routerLink]="['/admin/feature']">
                            <i class="fa fa-close"> </i> CANCEL
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

