<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 center-align light-blue">
            <h5 class="admin-page-header" style="margin-left: 20px;">
                ADD NEW KEYWORD
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <form [formGroup]="keywordsForm" (ngSubmit)="onSubmit()">
                
                <div class="row padding-bottom-1 align-items-center margin-top-1">
                    <div class="col-md-2 col-lg-2">
                        <label for="FunctionName" class="pull-right">Function Name</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="FunctionName" class="text form-control" formControlName="functionName">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="Module" class="pull-right">Module</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="Module" class="text form-control" formControlName="module">
                    </div>
                </div>
                <div class="row padding-bottom-1 align-items-center">
                    <div class="col-md-2 col-lg-2">
                        <label for="StepDescription" class="pull-right">Step Description</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="StepDescription" class="text form-control" formControlName="stepDescription">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="ActionorKeyword" class="pull-right">Action or Keyword</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="ActionorKeyword" class="text form-control" formControlName="actionOrKeyword">
                    </div>
                </div>
                <div class="row padding-bottom-1 align-items-center">
                    <div class="col-md-2 col-lg-2">
                        <label for="ObjectLogicalName" class="pull-right">Object Logical Name</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="ObjectLogicalName" name="ID" class="text form-control" formControlName="objectLogicalName">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="Run" class="pull-right">Run</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="Run" class="text form-control" formControlName="run">
                    </div>
                </div>
                
                <div class="row padding-bottom-1 align-items-center">
                    <div class="col-md-2 col-lg-2">
                        <label for="Param1" class="pull-right">Param 1</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="Param1" class="text form-control" formControlName="param1">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="Param2" class="pull-right">Param 2</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="Param2" class="text form-control" formControlName="param2">
                    </div>
                </div>
                <div class="row padding-bottom-1 align-items-center">
                    <div class="col-md-2 col-lg-2">
                        <label for="Param3" class="pull-right">Param 3</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="Param3" class="text form-control" formControlName="param3">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="Param4" class="pull-right">Param 4</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="Param4" class="text form-control" formControlName="param4">
                    </div>
                </div>
                <div class="row padding-bottom-1 align-items-center">
                    <div class="col-md-2 col-lg-2">
                        <label for="Param5" class="pull-right">Param 5</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="Param5" class="text form-control" formControlName="param5">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="Param6" class="pull-right">Param 6</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="Param6" class="text form-control" formControlName="param6">
                    </div>
                </div>
                <div class="row padding-bottom-1 align-items-center">
                    <div class="col-md-2 col-lg-2">
                        <label for="Param7" class="pull-right">Param 7</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="Param7" class="text form-control" formControlName="param7">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="Param8" class="pull-right">Param 8</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="Param8" class="text form-control" formControlName="param8">
                    </div>
                </div>
                <div class="row padding-bottom-1 align-items-center">
                    <div class="col-md-2 col-lg-2">
                        <label for="Param9" class="pull-right">Param 9</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="Param9" class="text form-control" formControlName="param9">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="Param10" class="pull-right">Param 10</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" name="Param10" class="text form-control" formControlName="param10">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 right-align">
                        <button type="submit" class="button btn btn-success" [disabled]="!keywordsForm.valid">
                            <i class="fa fa-plus"></i> SAVE
                            </button>
                    </div>
                    <div class="col-md-6 col-lg-6">
                          <button type="button" class="button btn btn-danger" [routerLink]="['/admin/keywords']">
                            <i class="fa fa-close"> </i> CANCEL
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>