<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 center-align light-blue">
            <h5 class="admin-page-header" style="margin-left: 20px;">
                EDIT TEST CONTROLLER
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <form [formGroup]="testControllerForm" (ngSubmit)="onSubmit()">
                
                <div class="row padding-bottom-1 align-items-center margin-top-1">
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">ID:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editTControllerObj.id" formControlName="id" disabled>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">SL NO:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editTControllerObj.sNo" formControlName="sNo" disabled>
                    </div>
                </div>

                <div class="row padding-bottom-1 align-items-center margin-top-1">
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Feature ID:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editTControllerObj.featureID" formControlName="featureID">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Test Case ID:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editTControllerObj.testCaseID" formControlName="testCaseID">
                    </div>
                </div>
                <div class="row padding-bottom-1 align-items-center margin-top-1">
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Browsers:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editTControllerObj.browsers" formControlName="browsers">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Sequence ID:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editTControllerObj.sequenceID" formControlName="sequenceID">
                    </div>
                </div>
                <div class="row padding-bottom-1 align-items-center margin-top-1">
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Test Type:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editTControllerObj.testType" formControlName="testType">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">JIRA ID:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editTControllerObj.jirA_ID" formControlName="jirA_ID">
                    </div>
                </div>
                <div class="row padding-bottom-1 align-items-center margin-top-1">
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Test Script Name:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editTControllerObj.testScriptName" formControlName="testScriptName">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Test Script Description:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editTControllerObj.testScriptDescription" formControlName="testScriptDescription">
                    </div>
                </div>
                <div class="row padding-bottom-1 align-items-center margin-top-1">
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Created On:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editTControllerObj.createdOn" formControlName="createdOn" disabled>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Updated On:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editTControllerObj.updatedOn" formControlName="updatedOn" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 right-align">
                        <button type="submit" class="button btn btn-success" [disabled]="!testControllerForm.valid">
                            <i class="fa fa-pencil"></i> SAVE 
                            </button>
                    </div>
                    <div class="col-md-6 col-lg-6">
                          <button type="button" class="button btn btn-danger" [routerLink]="['/admin/feature']">
                            <i class="fa fa-close"> </i> CANCEL
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

