<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 center-align light-blue">
            <h5 class="admin-page-header" style="margin-left: 20px;">
                EDIT BROWSER CONTROLLER
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <form  [formGroup]="browserControllerForm" (ngSubmit)="onSubmit()">
                <div class="row padding-bottom-1 align-items-center margin-top-1">
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">ID:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editBControllerObj.id" formControlName="id" disabled>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">VMID:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editBControllerObj.vmid" formControlName="vmid" disabled>
                    </div>
                </div>

                <div class="row padding-bottom-1 align-items-center margin-top-1">
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Browser:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editBControllerObj.browser" formControlName="browser">
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Execute:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <!-- <input type="text" class="text form-control" [(ngModel)]="editBControllerObj.exec" formControlName="exec"> -->
                        <p-dropdown #dd [options]="execValues" name="exec" [(ngModel)]="editBControllerObj.exec" 
                         formControlName="exec"></p-dropdown>
                    </div>
                </div>
                <div class="row padding-bottom-1 align-items-center margin-top-1">
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Created On:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editBControllerObj.createdOn" formControlName="createdOn" disabled>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <label for="" class="pull-right">Updated On:</label>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <input type="text" class="text form-control" [(ngModel)]="editBControllerObj.updatedOn" formControlName="updatedOn" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 right-align">
                        <button type="submit" class="button btn btn-success" [disabled]="!browserControllerForm.valid">
                            <i class="fa fa-pencil"></i> SAVE 
                            </button>
                    </div>
                    <div class="col-md-6 col-lg-6">
                          <button type="button" class="button btn btn-danger" [routerLink]="['/admin/feature']">
                            <i class="fa fa-close"> </i> CANCEL
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

