<div class="panel-header panel-header-sm" style="height: 50px !important; padding: 0px;">
</div>

<app-header-card></app-header-card>
<p-tabView>
  <p-tabPanel header="BrowserController">
    <div class="row align-items-center">
        <div class="col-lg-2 col-md-2" style="text-align: right;">
            <label style="margin: 0px !important"> Choose The Columns </label> 
        </div>
        <div class="col-lg-10 col-md-10" style="text-align: left;">
            <p-multiSelect (change)="LoadController3Cols()" [options]="controller3Cols" [(ngModel)]="selectedController3Cols"></p-multiSelect>
        </div>
    </div>
      <div class="row">
          <div class="col-lg-12 col-md-12">
            <p-table #tt [loading]="loading"  [scrollable]="true" scrollHeight="500px"  [value]="testControllers3" sortMode="multiple" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of selectedController3Cols" [pSortableColumn]="col.field" pTooltip="{{col.header}}">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                    <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <input *ngSwitchCase="'vmid'" pInputText type="text" (input)="tt.filter($event.target.value, col.field, 'contains')">
                            <input *ngSwitchCase="'browser'" pInputText type="text" (input)="tt.filter($event.target.value, col.field, 'contains')">
                            <input *ngSwitchCase="'exec'" pInputText type="text" (input)="tt.filter($event.target.value, col.field, 'contains')">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-controller3>
                    <tr>
                        <!-- <td>{{controller3.vmid}}</td>
                        <td>{{controller3.browser}}</td>
                        <td>{{controller3.exec}}</td> -->
                        <td *ngFor="let col of selectedController3Cols">
                            <ng-container *ngIf="col.field == 'actions'">
                              <button pButton type="button" style="background-color: #100699 !important;margin-right: 5px;" icon="pi pi-pencil" class="ui-button-success ui-button-raised" (click)="onRowEditController3(controller3.id)"></button>
                         <button pButton type="button" icon="pi pi-times" class="ui-button-danger" (click)="deleteController3(controller3.id)"></button>
                            </ng-container>
                            <ng-container *ngIf="col.field != 'actions'">
                              {{controller3[col.field]}}
                            </ng-container>
                        </td>
                        <!-- <td style="text-align:center">
                         <button pButton type="button" style="background-color: #100699 !important;margin-right: 5px;" icon="pi pi-pencil" class="ui-button-success ui-button-raised" (click)="onRowEditController3(controller3.id)"></button>
                         <button pButton type="button" icon="pi pi-times" class="ui-button-danger" (click)="deleteController3(controller3.id)"></button>
                        </td> -->
                    </tr>
                </ng-template>
            </p-table>
          </div>
      </div>
    
  <button class="btn btn-primary pull-right" style="margin-right:27px" 
  [routerLink]="['/table-list/testcontroller3/add']"> 
      <i class="now-ui-icons ui-1_simple-add"></i> Add</button>
  </p-tabPanel>
  <p-tabPanel header="ModuleController">
    <div class="row align-items-center">
        <div class="col-lg-2 col-md-2" style="text-align: right;">
            <label style="margin: 0px !important"> Choose The Columns </label> 
        </div>
        <div class="col-lg-10 col-md-10" style="text-align: left;">
            <p-multiSelect (change)="LoadController1Cols()" [options]="controller1Cols" [(ngModel)]="selectedController1Cols"></p-multiSelect>
        </div>
    </div>
    <div class="row align-items-center">
    <div class="col-lg-12 col-md-12">
   <p-table #tt1 [loading]="loading"  [scrollable]="true" scrollHeight="500px"  [value]="testControllers1" sortMode="multiple" [columns]="selectedController1Cols" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pTooltip="{{col.header}}">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngSwitchCase="'slno'" pInputText type="text" style="width:80%;" (input)="tt1.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'moduleID'" pInputText type="text" style="width:80%;" (input)="tt1.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'moduleSeqID'" pInputText type="text" style="width:80%;" (input)="tt1.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'machineID'" pInputText type="text" style="width:80%;" (input)="tt1.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'machineSequenceID'" pInputText type="text" style="width:80%;" (input)="tt1.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'execute'" pInputText type="text" style="width:80%;" (input)="tt1.filter($event.target.value, col.field, 'contains')">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-controller1>
        <tr>
            <td *ngFor="let col of selectedController1Cols">
                <ng-container *ngIf="col.field == 'actions'">
                    <button pButton type="button" style="background-color: #100699 !important;margin-right: 5px;" icon="pi pi-pencil" class="ui-button-success ui-button-raised" (click)="onRowEditController1(controller1.id)"></button>
                    <button pButton type="button" icon="pi pi-times" class="ui-button-danger" (click)="deleteController1(controller1.id)"></button>
                </ng-container>
                <ng-container *ngIf="col.field != 'actions'">
                  {{controller1[col.field]}}
                </ng-container>
            </td>
            <!-- <td>{{controller1.slno}}</td>
            <td>{{controller1.moduleID}}</td>
            <td>{{controller1.moduleSeqID}}</td>
            <td>{{controller1.machineID}}</td>
            <td>{{controller1.machineSequenceID}}</td>
            <td>{{controller1.execute}}</td> -->
        </tr>
    </ng-template>
   </p-table>   
    </div>
</div> 
  <!-- </div> -->
<!-- </div> -->
<button class="btn btn-primary pull-right" style="margin-right:27px" 
[routerLink]="['/table-list/testcontroller1/add']"> 
    <i class="now-ui-icons ui-1_simple-add"></i> Add</button>
</p-tabPanel>
  <p-tabPanel header="TestController">
    <div class="row align-items-center">
        <div class="col-lg-2 col-md-2" style="text-align: right;">
            <label style="margin: 0px !important"> Choose The Columns </label> 
        </div>
        <div class="col-lg-10 col-md-10" style="text-align: left;">
            <p-multiSelect (change)="LoadController2Cols()" [options]="controller2Cols" [(ngModel)]="selectedController2Cols"></p-multiSelect>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-12 col-md-12">
        <p-table #tt2  [loading]="loading" [scrollable]="true" scrollHeight="500px"  [value]="testControllers2" sortMode="multiple" [columns]="selectedController2Cols" [paginator]="true" [rows]="10">
              <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pTooltip="{{col.header}}">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
          </tr>
          <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input *ngSwitchCase="'sno'" pInputText type="text" style="width:80%;" (input)="tt2.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'featureID'" pInputText type="text" style="width:80%;" (input)="tt2.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'testCaseID'" pInputText type="text" style="width:80%;" (input)="tt2.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'run'" pInputText type="text" style="width:80%;" (input)="tt2.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'iterations'" pInputText type="text" style="width:80%;" (input)="tt2.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'browsers'" pInputText type="text" style="width:80%;" (input)="tt2.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'sequenceID'" pInputText type="text" style="width:80%;" (input)="tt2.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'testType'" pInputText type="text" style="width:80%;" (input)="tt2.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'jira_ID'" pInputText type="text" style="width:80%;" (input)="tt2.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'stepsCount'" pInputText type="text" style="width:80%;" (input)="tt2.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'testScriptName'" pInputText type="text" style="width:80%;" (input)="tt2.filter($event.target.value, col.field, 'contains')">
                  <input *ngSwitchCase="'testScriptDescription'" pInputText type="text" style="width:80%;" (input)="tt2.filter($event.target.value, col.field, 'contains')">
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-controller2>
          <tr>
            <td *ngFor="let col of selectedController2Cols">
                <ng-container *ngIf="col.field == 'actions'">
                    <button pButton type="button" style="background-color: #100699 !important;margin-bottom: 5px;" icon="pi pi-pencil" class="ui-button-success ui-button-raised" (click)="onRowEditController2(controller2.id)"></button>
               <button pButton type="button" icon="pi pi-times"  class="ui-button-danger" (click)="deleteController2(controller2.id)"></button>
                </ng-container>
                <ng-container *ngIf="col.field != 'actions'">
                  {{controller2[col.field]}}
                </ng-container>
            </td>
              <!-- <td>{{controller2.sno}}</td>
              <td>{{controller2.featureID}}</td>
              <td>{{controller2.testCaseID}}</td>
              <td>{{controller2.run}}</td>
              <td>{{controller2.iterations}}</td>
              <td>{{controller2.browsers}}</td>
              <td>{{controller2.sequenceID}}</td>
              <td>{{controller2.testType}}</td>
              <td>{{controller2.jira_ID}}</td>
              <td>{{controller2.stepsCount}}</td>
              <td>{{controller2.testScriptName}}</td>
              <td>{{controller2.testScriptDescription}}</td>
              <td style="text-align:center">
               <button pButton type="button" style="background-color: #100699 !important;margin-bottom: 5px;" icon="pi pi-pencil" class="ui-button-success ui-button-raised" (click)="onRowEditController2(controller2.id)"></button>
               <button pButton type="button" icon="pi pi-times"  class="ui-button-danger" (click)="deleteController2(controller2.id)"></button>
              </td> -->
          </tr>
      </ng-template>
  </p-table>
            </div>
            </div>
    
  <button class="btn btn-primary pull-right" style="margin-right:27px" 
  [routerLink]="['/table-list/testcontroller2/add']"> 
      <i class="now-ui-icons ui-1_simple-add"></i> Add</button>
  </p-tabPanel>
</p-tabView>


