<div class="container-fluid"  style="background-color: #d8e2eb;padding-bottom: 0px;padding-top: 0px;">
  <div class="row align-items-center" style="min-height: 100vh !important;">
    <div class="col-md-8 col-lg-8" style="text-align: center;background: #0033A1;">
      <div class="row align-items-center background-logo" style="height: 100vh;">
        <div class="col-md-3 col-lg-3">
          <img src="../../assets/img/logo-small.png" style="width: 15em;" />
        </div>
        <div class="col-md-8 col-lg-8" >
          <div class="row align-items-end">
            <div class="col-md-12 col-lg-12">
              <h2 style="color: white;font-weight: bolder;margin-bottom: 0px;font-size: 3.5em">AUTOMATION TOOL</h2>
            </div>
          </div>
        </div>
        <div class="col-md-1 col-lg-1" ></div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4" style="text-align: center;">
      <mat-card>
        <form [formGroup]="loginForm" class="login-form">
        <div class="container-fluid">
          <div class="row align-items-center" style="height: 50vh;">
            <div class="col-md-12 col-lg-12">
              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <mat-form-field class="control-full-width">
                    <span matPrefix><i style="color: #808080;" style="color: #808080;" class="fa fa-user-circle-o"></i>&nbsp;&nbsp;</span>
                    <input class="montserrat-font" formControlName="username" matInput placeholder="Username">
                    <mat-error *ngIf="loginForm.controls['username'].errors?.required">Username cannot be Empty</mat-error>
                </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-12">
                <mat-form-field class="control-full-width">
                  <span matPrefix><i style="color: #808080;" class="fa fa-key"></i>&nbsp;&nbsp;</span>
                  <input type="password" class="montserrat-font" formControlName="password" matInput placeholder="Password">
                  <mat-error *ngIf="loginForm.controls['password'].errors?.required">Password cannot be Empty</mat-error>
                </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <button [disabled]="loginForm.invalid" (click)="onSubmit()" class="form-button montserrat-font" style="background-color: #0033A1 !important;border-color: #0033A1 !important;" mat-raised-button color="primary" type="submit">SUBMIT</button>
                </div>
                <div class="col-md-6 col-lg-6">
                  <button class="form-button montserrat-font" mat-raised-button color="warn">RESET</button>
                </div>
              </div>
          </div>
        </div>
        </div>
      </form>
      </mat-card>
    </div>
  </div>
</div>
<div id="lock-icon-overlay">
  <i class="fa fa-lock lock-icon"></i>
</div>
